<h1>Bicycleconfigs#index</h1>
<p>設定内容</p>
<table>
	<tr>
		<th>Name</th>
			<td><%= @bicycleconfig.name %></td>
	</tr>

	<tr>
		<th>Value</th>
			<td><%= @bicycleconfig.value %></td>
	</tr>
</table>
<p><a href="/bicycleconfigs/edit">編集画面＞＞</a></p>
